*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;  min-height: 100vh;  margin: 0;  padding: 0;  background-color: #f2f2f2;
  }

body {
  position: relative;  display: flex;  flex-direction: column;  width: 1200px;  min-height: 100vh;  margin: 0 auto;  font-size: 18px;  line-height: 21px;  font-family: "PT Sans", sans-serif;  color: #333333;  background-color: #f2f2f2;
  }

@font-face {
  font-style: normal;  font-weight: 400;  font-family: "PT Sans";  font-display: swap;  src: url("../fonts/ptsans-400.woff2") format("woff2");
  }

@font-face {
  font-style: normal;  font-weight: 700;  font-family: "PT Sans";  font-display: swap;  src: url("../fonts/ptsans-700.woff2") format("woff2");
  }

.main-header {
  color: #000000;  background-color: #ffffff;
  }

.main-nav-link {
  font-weight: 700;  font-size: 20px;  line-height: 24px;  font-family: "PT Sans", sans-serif;  text-align: center;  color: #000000;  text-transform: capitalize;  text-decoration: none;  background-color: #ffffff;
  }

.user-link {
  font-weight: 700;  font-size: 20px;  line-height: 24px;  font-family: "PT Sans", sans-serif;  text-align: center;  color: #000000;  text-transform: capitalize;  text-decoration: none;  background-color: #ffffff;
  }

.nav-button {
  display: flex;  align-items: center;  width: 160px;  height: 36px;  font-size: 16px;  line-height: 20px;  text-align: center;  color: #ffffff;  text-transform: uppercase;  text-decoration: none;  background: #756157;  border-radius: 4px;
  }

.hero {
  color: #333333;  background-color: #f2f2f2;  background-image: url(../images/main-background.jpg);  background-repeat: no-repeat;  background-size: 100% auto;
  }

.page-title {
  font-weight: 700;  font-size: 30px;  line-height: 36px;  text-transform: uppercase;
  }

.advantages-content {
  text-align: center;
}

.description-title {
  font-weight: 700;  font-size: 30px;  line-height: 36px;  text-align: center;  color: #000000;  text-transform: uppercase;
  }

.description-text {
  font-weight: 400;  font-size: 22px;  line-height: 26px;  text-align: center;
  }

.advantages-title {
  font-weight: 700;  font-size: 24px;  line-height: 28px;  color: #000000;  text-transform: uppercase;
  }

.services-content {
  text-align: center;
}
