@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.logo {
  margin-top: 0;
  margin-right: 44px;
  margin-left: 70px;
}

.main-nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.user-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-button {
  width: 160px;
}

.hero {
  color: #333333;

  background-color: #f2f2f2;
  background-image: url(../images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hero-img {
  margin-top: 51px;
  margin-right: 371px;
  margin-bottom: 82px;
  margin-left: 371px;
}

.page-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-container {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-content {
  text-align: center;
  text-transform: uppercase;
}

.advantages-content-road {
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.services-content {
  text-align: center;
}

.services-description-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.services-content-home {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/svg/home.svg);
  background-repeat: no-repeat;
}

.services-content-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/svg/souvenires.svg);
  background-repeat: no-repeat;
}

.services-content-food {
  background-image: url(../images/svg/food.svg);
  background-repeat: no-repeat;
}

.search-title {
  margin-top: 96px;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.search-button {
  margin-top: 62px;
  margin-right: 412px;
  margin-bottom: 104px;
  margin-left: 412px;
  padding-top: 8px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-left: 50px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.subscribe-text {
  margin-top: 20px;

  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.subscribe-main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;

  color: #333333;

  background-color: #f2f2f2;
  background-image: url(../images/subscribe-background.jpeg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*НЕ ПОЛУЧАЕТСЯ ОБЪЕДИНИТЬ ИНПУТ И КНОПКУ В ОДНУ СТРОКУ
НЕ ВЛЕЗАЕТ, ЕСЛИ PADDING ДЕЛАТЬ ПО МАКЕТУ*/

.subscribe-input {
  margin-top: 54px;
  padding-top: 14px;
  padding-right: 345px;
  padding-bottom: 14px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  opacity: 0.6;
}

.subscribe-button {
  padding-top: 8px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-left: 50px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;

  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.phone {
  margin-top: 45px;
  margin-right: 235.5px;
  margin-bottom: 35px;
  margin-left: 236.5px;

  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/*Каталог*/

.catalog {
  color: #ffffff;

  background-color: #f2f2f2;
  background-image: url(../images/catalog/catalog-background.jpeg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*Иконка-ссылка с домиком не отображается! Не понимаю, почему*/
.breadcrumbs-link-home {
  background-image: url(../images/svg/breadcrumbs-home.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link-current {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
}

.filter-title-white {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-transform: none;
}

.control-input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.inexpensive {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.expensive {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.view-link-tile {
  background-image: url(../images/svg/view-tile.svg);
  background-repeat: no-repeat;
}

.view-link-preview {
  background-image: url(../images/svg/view-preview.svg);
  background-repeat: no-repeat;
}

.view-link-list {
  background-image: url(../images/svg/view-list.svg);
  background-repeat: no-repeat;
}

.hotels-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #000000;
}

.hotels-link {
  text-decoration: none;
}

.hotels-text-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.hotels-text-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.hotels-rating {
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 8px;
  padding-left: 23px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

/*звезды не отображаются*/
.hotels-rating-star {
  background-image: url(../images/svg/stars-4.svg);
  background-repeat: no-repeat;
}

.pagination-link {
  padding-top: 11.36px;
  padding-right: 24.55px;
  padding-bottom: 12.64px;
  padding-left: 23.45px;

  color: #ffffff;

  background: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;

  background: #f2f2f2;
}

/* кнопка троеточия почему-то наследует цвет фона. хотя кнопка с цифрой 1 не наследовала*/
.pagination-link-more {
  color: #000000;

  background: rgba (0, 0, 0, 0);
}
